@import './../variables';

.introState {
    position: fixed;
    bottom: 20%;
    width: 70vw;
    font-size: 3.3rem;
    text-align: center;
    line-height: 150%;
    color: $fontColor;
    transition-duration: .4s;

    span {
        color: $primaryColor;

        &:last-of-type {
            font-size: 4rem;
            animation: cursor infinite .4s ease-in-out;
        }

        @keyframes cursor {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }
}