@import '../variables';

.canvasWrapper {
  position: relative;

  .transitionInfo {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    text-align: center;
    color: $fontColor;
    font-family: $titleFont;
    font-size: 8rem;
    background-color: #000;
    opacity: .8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      margin-bottom: 3rem;
      -webkit-text-stroke: 1px $secondaryColor;
    }
  }

  .sceneCanvas {
    width: $canvasWidth;
    height: $canvasHeight;
    background-color: green;
    border-radius: 5px;
    border: 2px solid $secondaryColor;
    box-shadow: 0 0 4px 2px $secondaryColor;
  }
}