@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Creepster&family=Press+Start+2P&display=swap');

$titleFont: 'Creepster', cursive;
$primaryFont: 'Carter One', cursive;
$supportFont: 'Press Start 2P', cursive;

$primaryColor: #00BBC9;
$secondaryColor: #00747C;
$fontColor: #CACACA;
$supportColor: #878787;
$bgColor: #202022;
$errorColor: #cc0000;
$successColor: #00c700;

$canvasWidth: 1280px;
$canvasHeight: 720px;